mobilecaddy-sync-icon {
  // font-size: 1.8em;
  display: block;
  // margin-right: 0.3em;
  // color: #488aff;
  float: right;
  // width: 1.2em;
  // padding-top: 0.2em;
  // padding-right: 0.3em;
}

@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: anim-rotate 1.6s infinite linear;
}
.spinner--steps {
  animation: anim-rotate 0.8s infinite steps(8);
}
.spinner--steps2 {
  animation: anim-rotate 0.8s infinite steps(12);
}
